@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-regular.ttf'); 
}
body{
    margin-top: 100px;
    margin: 0;
    padding: 0;
    font-family: 'Gilroy', sans-serif;
}
#simpleparklogo{
    width: 55%;
    height: 55%;
    margin-left: 20px;
    object-fit: contain;
}
.menu{
    display: inline-block;
    border: 2px solid #3b6efb;
    vertical-align: middle; 
}
.menu-container{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    color: white;
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu-button{
    background-color: white;
    border: none;
}
.hidden {
    display: none;
}

.header .menu-button img {
    width: 35px;
    cursor: pointer;
}
.hamburger {
    font-size: 24px;
    float: right;
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
} 
.indicator {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%; 
    cursor: pointer;
    transition: all 0.3s ease;
}
  
.indicator.active {
    width: 30px; 
    height: 10px; 
    border-radius: 5px;
    background-color: #007bff; 
}
.dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px; 
    left: 0;
    width: 100%;
    background-color: #444;
    border-top: 1px solid #555;
}
.dropdown.hidden {
    display: none; 
}
.dropdown ul {
    list-style: none;
}
.dropdown li {
    border-bottom: 1px solid #555;
}
.dropdown a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}
.dropdown a:hover {
    background-color: #555;
}
.download-btn {
    background-color: #172240;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}
#gemeentes {
    font-size: 18px;
    margin-bottom: 20px;
    color: #000;
    text-align: center;
}
.hero {
    text-align: center;
    padding: 30px 20px;
    background-color: #3b6efb;
    color: white;
    position: relative;
}

.hero .stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.hero .stats p {
    margin: 0;
    font-size: 14px;
}

.hero .description {
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

.hero .download-button {
    padding: 10px 20px;
    width: 70%;
    background-color: #172240;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: -30%;
}

.hero .hero-image {
    width: 150px;
    position: absolute;
    bottom: -40px;
    right: 20%;
    top: 43.7%;
    transform: translateX(50%);
}
.about {
    padding: 40px 20px;
    text-align: center;
    background-color: white;
    color: #172240;
}

.about h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

.about h2 span {
    color: #3b6efb;
}

.about p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

.box {
    width: 100vw; 
    height: 100%; 
    background-color: #3498db; 
    margin: 0px; 
    max-width: 100%; 
    box-sizing: border-box;
}
.box.downloadbox {
    background-color: #3b6efb; 
    color: white;
    padding: 20px;
}

.box.two {
    background-color: #2ecc71; 
}

.box.oversimplepark {
    background-color: white; 
    text-align: center;
    padding: 30px;
}



