@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-regular.ttf'); 
}
body{
    margin-top: 100px;
    margin: 0;
    padding: 0;
    font-family: 'Gilroy', sans-serif;
}
#simpleparklogo{
    width: 55%;
    height: 55%;
    margin-left: 20px;
    object-fit: contain;
}
.menu{
    display: inline-block;
    border: 2px solid #3b6efb;
    vertical-align: middle; 
}
.menu-container{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    color: white;
    z-index: 1000;
}
.hamburger {
    font-size: 24px;
    float: right;
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
} 
.dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px; 
    left: 0;
    width: 100%;
    background-color: #444;
    border-top: 1px solid #555;
}
.dropdown.hidden {
    display: none; 
}
.dropdown ul {
    list-style: none;
}
.dropdown li {
    border-bottom: 1px solid #555;
}
.dropdown a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}
.dropdown a:hover {
    background-color: #555;
}
.box {
    width: 100vw; 
    height: 100%; 
    background-color: #3498db; 
    margin: 0px; 
    max-width: 100%; 
    box-sizing: border-box;
}
.box.goal{
    text-align: center;
    margin-top: 2cm;
    background-color: white;
}
.box.downloadbox {
    background-color: #3b6efb; 
    color: white;
    padding: 20px;
}

.box.two {
    background-color: #2ecc71; 
}

.box.oversimplepark {
    background-color: white; 
    text-align: center;
    padding: 30px;
}


