@font-face {
    font-family: 'Gilroy'; 
    src: url('fonts/Gilroy-Regular.ttf'); 
  }

  @font-face {
    font-family: 'Gilroy-Semibold'; 
    src: url('fonts/Gilroy-SemiBold.ttf'); 
  }

  @font-face {
    font-family: 'Gilroy-Bold'; 
    src: url('fonts/Gilroy-Bold.ttf'); 
  }




  body {
    font-family: 'Gilroy', sans-serif; 
  }

.carousel {
    position: relative;
    max-width: 350px;
    margin: auto;
  }
  
  .carousel-item {
    display: none;
    text-align: center;
  }
  
  .carousel-item.active {
    display: block;
  }
  
  .carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .indicator {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%; 
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .indicator.active {
    width: 30px; 
    height: 10px; 
    border-radius: 5px;
    background-color: #007bff; 
  }
  
  .carousel-item p:first-of-type {
    font-size: 24px; 
    font-weight: bold; 
    color: #3b6efb; 
    margin-bottom: 10px; 
  }
  
  .carousel-item p:last-of-type {
    font-size: 16px; 
    color: #000; 
    margin-top: 0;
  }

  