@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}



.wrapper {
  display: flex;
  grid-gap: 1rem;
  max-width: 768px;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  cursor: grab;
  scroll-behavior: smooth;
  scrollbar-width: none; /* For Firefox */
}

.wrapper::-webkit-scrollbar { /* For Chrome */
  display: none;
}

.slider {
  min-width: 100%; /* Ensure only one item is fully visible */
  aspect-ratio: 1 / 1;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  scroll-snap-align: start;
  font-weight: 600;
  user-select: none;
  padding: none;
}

.slider img {
    width: 100%; /* Make the image take full width of the div */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* Optional: Rounded corners */
  }

.slider h2 {
    color: blue;
    position: absolute;
    margin-top: 1rem; /* Add space between the image and the heading */
    font-size: 1.5rem; /* Adjust heading size */
    text-align: center; /* Center-align text */
  }